<!doctype html>
<html>
<head>
  <title>GeeksGuider</title>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="jHL_lWdurwduD8TJ5fNiR7gVvtglsaL7Ne0j-wHhkS8" />
    <meta name="google-site-verification" content="XFDG0tTMypA2i7ykyFox8raekbbcdl6RF-mg_2Xu11U" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fondamento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Slabo 27px">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rokkitt">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 
  <style>
        #carouselExampleIndicators3,.carousel-inner,.carousel-item,.hmg{
            height:300px;
        }
        .h50{
        height:260px;
        max-width: 400px;
    }
    .card-img-top{
        height:65%;
    }
    .bac{
      background-color: #333D79FF;
    }
    .font{
    font-family:"Fondamento";
  }
  .font2{
    font-family: "Slabo 27px";
  }
  .font3{
     font-family: "Rokkitt";
  }
  .mt1-4{
      margin-top: 4rem;
  }
  .row{
      margin-left: 0;
      margin-right: 0;
  }
  .lc{
      background-color: #FAEBEFFF;
  }
  .tc{
      background-color: #333D79FF;
  }
  .wh{
      color:#FAEBEFFF;
  }
  .bl{
      color: black;
  }
  .txc{
    color:#333D79FF;
  }
  .container{
    max-width: 1400px;
  }
  .border1{
      border: 2px solid #333D79FF ;
  }

    </style>
</head>
<body class="tc" >
    <nav id="mainnav" class="navbar navbar-expand-lg tc fixed-top">
        <a class="navbar-brand font wh" href="#"><i class="fa fa-book" aria-hidden="true"></i> GeeksGuider</a>
        <a class=" nav-item nav-link font wh" href="/">Home<span class="sr-only">(current)</span></a>
        <a class=" nav-item nav-link font wh" href="/topicslist">Topics</a>
        <button class="navbar-toggler wh" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon wh"></span>
        </button>
        <ul class="navbar-nav mr-auto font"></ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto font">
              <li class="nav-item">
                <a class="nav-link font wh" href="#">About</a>
              </li>
            </ul>
            <form  action="\secresults" method="POST"class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 font wh"type="text" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 font wh" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
        </div>
      </nav>