<%- include("partials/header") %>
<title>Best of Interview Expriences</title>
<div class="container pr-1 pl-1 pt-1 mt1-4 lc pb-1">
    <!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="/images/ie.jpg" style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
            </div>
          </div>
      <!-- End Left Column -->
      </div>
      </div>


  
      <!-- Right Column -->
      <div class="w3-twothird">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h1 class="txc">INTERVIEW EXPERIENCES</h1>
          </div>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h5>These sections gives you the best websites,courses,channels,lectures,textbooks to know about companies interview expriences,provide you with a best of all resourses to study</h5>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i>Amazon</h2>
        <a class="txc" href="https://www.geeksforgeeks.org/tag/amazon/"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.geeksforgeeks.org/tag/amazon/</h6></a>
        <hr>
        <a class="txc" href="https://www.geeksforgeeks.org/amazon-interview-experience-for-experienced/"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.geeksforgeeks.org/amazon-interview-experience-for-experienced/</h6></a>
        <hr>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> Facebook</h2>
        <a class="txc" href="https://www.geeksforgeeks.org/facebook-interview-set-1/"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.geeksforgeeks.org/facebook-interview-set-1/</h6></a>
        <hr>
        <a class="txc" href="https://www.glassdoor.com/Interview/Facebook-Interview-Questions-E40772.htm"><h6><i class="fa fa-link txc" aria-hidden="true"></i>https://www.glassdoor.com/Interview/Facebook-Interview-Questions-E40772.htm</h6></a>
        <hr>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> Google</h2>
        <a class="txc" href="https://www.geeksforgeeks.org/google-interview-experience-on-campus-2020/"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.geeksforgeeks.org/google-interview-experience-on-campus-2020/</h6></a>
        <hr>
        <a class="txc" href="https://www.quora.com/How-was-your-Google-interview-experience"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.quora.com/How-was-your-Google-interview-experience</h6></a>
        <hr>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> Adobe</h2>
        <a class="txc" href="https://www.geeksforgeeks.org/tag/adobe/"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.geeksforgeeks.org/tag/adobe/</h6></a>
        <hr>
        <a class="txc" href="https://www.interviewbit.com/adobe-interview-questions/"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.interviewbit.com/adobe-interview-questions/</h6></a>
        <hr>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> TCS</h2>
        <a class="txc" href="https://prepinsta.com/tcs-interview-experience/"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://prepinsta.com/tcs-interview-experience/</h6></a>
        <hr>
        <a class="txc" href="https://www.geeksforgeeks.org/tcs-interview-experience-set-2-campus-recruitment-drive/"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.geeksforgeeks.org/tcs-interview-experience-set-2-campus-recruitment-drive/</h6></a>
        <hr>
      </div>
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>
  
<h2 class="display-6 font3">Related Topics</h2>
  
<div class="row border1 pb-3 pt-3">
    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
      <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb99"><div class="card h50 border1">
        <img src="/images/co.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title bl">Computer Organization</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div></a>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
      <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb9a"><div class="card h50 border1">
        <img src="/images/flat.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title bl">Theory of Automation(FLAT)</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div></a>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
      <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb92"><div class="card h50 border1">
        <img src="/images/cd.jpg"class="card-img-top img-fluid img-thumbnail"  alt="...">
        <div class="card-body">
          <h5 class="card-title bl">Compiler Design</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div></a>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
      <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb93"><div class="card h50 border1">
        <img src="/images/ds.jpg"class="card-img-top img-fluid img-thumbnail"  alt="...">
        <div class="card-body ">
          <h5 class="card-title bl">Data Structures</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div></a>
    </div>
  </div>
</div>
<%- include("partials/footer") %>