<%- include("partials/header") %>
<div class="container pr-1 pl-1 pt-1 mt1-4 lc pb-1">
    <!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="/images/ciq.jpg" style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
            </div>
          </div>
      <!-- End Left Column -->
      </div>
      </div>


  
      <!-- Right Column -->
      <div class="w3-twothird">
        <h1 class="txc">COMMON INTERVIEW QUESTIONS</h1>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h5>These sections gives you the best websites,courses,channels,lectures,textbooks to learn common interview questions,provide you with a best of all resourses to study</h5>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> Tell me about yourslef</h2>
        <a class="txc" href="https://www.themuse.com/advice/tell-me-about-yourself-interview-question-answer-examples"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.themuse.com/advice/tell-me-about-yourself-interview-question-answer-examples</h6></a>
        <hr>
        <a class="txc" href="https://www.youtube.com/watch?v=r_w9gRRbC6s&t=389s"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.youtube.com/watch?v=r_w9gRRbC6s&t=389s</h6></a>
        <hr>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> why should we hire u</h2>
        <a class="txc" href="https://biginterview.com/why-should-we-hire-you/#:~:text=You%20can%20do%20the%20work,and%20make%20his%20life%20easier>"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://biginterview.com/why-should-we-hire-you/#:~:text=You%20can%20do%20the%20work,and%20make%20his%20life%20easier></h6></a>
        <hr>
        <a class="txc" href="https://www.youtube.com/watch?v=CyXLhHQS3KY&t=278s"><h6><i class="fa fa-link txc" aria-hidden="true"></i>https://www.youtube.com/watch?v=CyXLhHQS3KY&t=278s</h6></a>
        <hr>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> what are your strengths and weakness</h2>
        <a class="txc" href="https://novoresume.com/career-blog/what-are-your-strengths-and-weaknesses-interview-questions"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://novoresume.com/career-blog/what-are-your-strengths-and-weaknesses-interview-questions</h6></a>
        <hr>
        <a class="txc" href="https://www.youtube.com/watch?v=B77FwQAyV_Q"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.youtube.com/watch?v=B77FwQAyV_Q</h6></a>
        <hr>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> where do you see yourself in 5 years</h2>
        <a class="txc" href="https://www.themuse.com/advice/how-to-answer-where-do-you-see-yourself-in-5-years#:~:text=%E2%80%9CWhere%20do%20you%20see%20yourself,your%20job%2C%E2%80%9D%20for%20example."><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.themuse.com/advice/how-to-answer-where-do-you-see-yourself-in-5-years#:~:text=%E2%80%9CWhere%20do%20you%20see%20yourself,your%20job%2C%E2%80%9D%20for%20example.</h6></a>
        <hr>
        <a class="txc" href="https://www.youtube.com/watch?v=q8w8x7RYH6Q"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.youtube.com/watch?v=q8w8x7RYH6Q</h6></a>
        <hr>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> why is there a suddden decline in your studies from b-tech</h2>
        <a class="txc" href="https://www.quora.com/What-is-the-best-answer-for-why-are-your-academics-percentages-decreasing"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.quora.com/What-is-the-best-answer-for-why-are-your-academics-percentages-decreasing</h6></a>
        <hr>
        <a class="txc" href="https://www.youtube.com/watch?v=SsI1KNq0Dog"><h6><i class="fa fa-link txc" aria-hidden="true"></i> https://www.youtube.com/watch?v=SsI1KNq0Dog</h6></a>
        <hr>
      </div>
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>
  
<h2 class="display-6 font3">Related Topics</h2>
  
<div class="row border1 pb-3 pt-3">
  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
    <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb99"><div class="card h50 border1">
      <img src="/images/co.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title bl">Computer Organization</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div></a>
  </div>
  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
    <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb9a"><div class="card h50 border1">
      <img src="/images/flat.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title bl">Theory of Automation(FLAT)</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div></a>
  </div>
  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
    <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb92"><div class="card h50 border1">
      <img src="/images/cd.jpg"class="card-img-top img-fluid img-thumbnail"  alt="...">
      <div class="card-body">
        <h5 class="card-title bl">Compiler Design</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div></a>
  </div>
  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
    <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb93"><div class="card h50 border1">
      <img src="/images/ds.jpg"class="card-img-top img-fluid img-thumbnail"  alt="...">
      <div class="card-body ">
        <h5 class="card-title bl">Data Structures</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div></a>
  </div>
</div>
</div>
<%- include("partials/footer") %>