<%- include("partials/header") %>
<div class="container pr-1 pl-1 pt-1 mt1-4 lc pb-1 lc">
    <h1 class="font border" >Topics</h1>
  <div class="row border1">
     <div class="col-lg-3 col-md-3 col-sm-4 col-xm-6 mb-2 mt-2 ">
       <a  class="font lc bl" href="/interq"><div class="card h50 border1">
            <img src="/images/ciq.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
            <div class="card-body lc">
              <h5 class="card-title bl">Best of Common Interview questions</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div></a>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-4 col-xm-6 mb-2 mt-2 ">
        <a class="font lc bl" href="/interexp"><div class="card h50 border1">
             <img src="/images/ie.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
             <div class="card-body lc">
               <h5 class="card-title bl">Best of Interview Expriences</h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="#" class="btn btn-primary">Go somewhere</a> -->
             </div>
           </div></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xm-6 mb-2 mt-2 ">
        <a class="font lc bl" href="/placement/5fbfa48c064f6225c874b571"><div class="card h50 border1">
             <img src="/images/cp.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
             <div class="card-body lc">
               <h5 class="card-title bl">Best of Competetive programming</h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="#" class="btn btn-primary">Go somewhere</a> -->
             </div>
           </div></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xm-6 mb-2 mt-2 ">
        <a class="font lc bl" href="/placement/5fbfa36569f3227024cdbf61"><div class="card h50 border1">
             <img src="/images/ap.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
             <div class="card-body lc">
               <h5 class="card-title bl">Best of Apptitude</h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="#" class="btn btn-primary">Go somewhere</a> -->
             </div>
           </div></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xm-6 mb-2 mt-2 ">
        <a class="font lc bl" href="/placement/5fbfa36569f3227024cdbf62"><div class="card h50 border1">
             <img src="/images/ss.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
             <div class="card-body lc">
               <h5 class="card-title bl">Best of Soft Skills</h5>
               <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="#" class="btn btn-primary">Go somewhere</a> -->
             </div>
           </div></a>
      </div>
  </div>

</div>
</body>
<%- include("partials/footer") %>